body {
    background-color: #f7f5ee;
}


.container {
    border: 1px solid black;
    align-items: center;
    align-content: center;
    margin: auto 80px;
    background-color: #fff;
}

.header{
    text-align: center;
    background-color: coral;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-family: monospace;
}

.header .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #fff;
}

.box {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    background: coral;
    
}

.grid a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: green;
}

.banner {
    align-items: center;
    align-content: center;
    margin: auto 20px;
}

ul, ol li {
    padding: 5px;
}

.list {
    margin-left : 20px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: auto auto;
}

footer {
    border: 2px solid black;
}